---
---

body {
  font-family: Menlo, Monaco, Lucida Console, monospace, serif;
  font-size: 14px;
  line-height: 24px;
}

footer,
header {
  margin: 40px 0;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 1.4em;
  }
}

img:not(.emoji) {
  width: 100%;
  display: block;
}

a {
  color: #2388db;

  &:hover {
    color: #fff;
    background: #2388db;
    text-decoration: none;
  }
}

main {
  max-width: 700px;
  margin: 40px;
}

hr {
  background: #eee;
  border: none;
  height: 1px;
}

time {
  color: #9b9b9b;
}
